[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
flake8 = "*"

[packages]
jinja2 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
format = "black ."
checks = "flake8 --ignore=E203,E501,W503"
tests = "pytest --cov=./"
render = "python render.py"
view = "python -m http.server --directory public"
